{% extends "auctions/layout.html" %}
{% block body %}
<div id="make-listing-page">
    <h2 id="make-listing-title">I'm selling...</h2>

    {% if message %}
        <div class="alert alert-warning message">{{ message }}</div>
    {% endif %}

    <form id="make-listing-form" action="{% url 'make_listing' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" id="item-name" type="text" name="item_name" placeholder="What are you selling?" required>
        </div>

        <div class="form-group">
            <input class="form-control" id="item-description" type="text" name="description" placeholder="Give a short description" required>
        </div>

        <div class="form-group">
            <input class="form-control" id="item-price" type="number" name="price" placeholder="What is the minimal bid (USD)" min="0" required>
        </div>

        <div class="form-group">
            <input class="form-control" id="image-link" type="url" name="image_link" placeholder="Paste image URL (optional)">
        </div>

        <div class="form-group">
            <h3 id="category-label">Choose a category</h3>
            <select name="category" class="form-control" id="item-category" required>
                <option value="ELEC">Electronics</option>
                <option value="BOOK">Books</option>
                <option value="FASH">Fashion</option>
                <option value="HOME">Home & Garden</option>
                <option value="TOY">Toys</option>
                <option value="AUTO">Automotive</option>
                <option value="SPORT">Sports & Outdoors</option>
                <option value="OTHER">Other</option>
            </select>
        </div>

        <input class="btn btn-primary" id="submit-listing-button" type="submit" value="Start selling">
    </form>
</div>
{% endblock %}
